
body {
    background-color: #9d0000ba;
}

h1 {
    letter-spacing: 4px;                                             
}

h1, h2, h3 {
    font-size: 4vw;
    color: #ffd900;
    font-family: 'Apple Chancery', sans-serif;                                               
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.card {
    overflow: hidden;
}
.zoom {
  transition: transform 0.3s ease-in-out;
}

.zoom:hover {
  transform: scale(1.15);
}


