
body {
    background-color: #9d0000ba;
}

h1 {
    font-size: 4vw;
    letter-spacing: 5px;
    color: #ffd900;
    font-family: 'Apple Chancery', sans-serif;
                                                
}

h2,h3 {
    font-size: 4vw;
    letter-spacing: 5px;
    color: #ffd900;
    font-family: 'Apple Chancery', sans-serif;
                                                
}


.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}


